@model User

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form asp-action="Create" asp-controller="Home" method="post">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName">
        <span asp-validation-for="FirstName"></span><br>
        <label asp-for="LastName"></label>
        <input asp-for="LastName">
        <span asp-validation-for="LastName"></span><br>
        <label asp-for="Age"></label>
        <input asp-for="Age">
        <span asp-validation-for="Age"></span><br>
        <span asp-validation-for="Email"></span>
        <label asp-for="Email"></label>
        <input asp-for="Email"><br>
        <span asp-validation-for="Password"></span>
        <label asp-for="Password"></label>
        <input asp-for="Password"><br>
        <input type="submit" value="Submit">
    </form>
</div>
