@model Dish

@{
    ViewData["Title"] = "Adding new dish";
}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Home</a>
    <a class="navbar-brand" href="/new">Add a Dish</a>
</nav>
<div class="text-center">
    <h2>Add a new dish</h2>
</div>
<div class="dishes">
    <form class="col-5" asp-action="Create" asp-controller="Home" method="post">
        <div class="form-group">
            <span class="validation" asp-validation-for="Chef"></span><br>
            <label asp-for="Chef"></label>
            <input class="form-control" asp-for="Chef">
        </div>
        <div class="form-group">
            <span class="validation" asp-validation-for="Name"></span><br>
            <label asp-for="Name"></label>
            <input class="form-control" asp-for="Name">
        </div>
        <div class="form-group">
            <span class="validation" asp-validation-for="Calories"></span><br>
            <label asp-for="Calories"></label>
            <input class="form-control" asp-for="Calories">
        </div>
        <div class="form-group">
            <span class="validation" asp-validation-for="Tastiness"></span><br>
            <label asp-for="Tastiness"></label>
            <select class="form-control" asp-for="Tastiness">
                <option value="none" selected disabled hidden>Rate the tastiness</option> 
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
        <div class="form-group">
            <span class="validation" asp-validation-for="Description"></span><br>
            <label asp-for="Description"></label>
            <textarea class="form-control" name="Description" cols="30" rows="7"></textarea>
        </div>
        <input type="submit" class="btn btn-dark" value="Add Dish">
    </form>
</div>
