@model User

@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-4">Welcome</h1>
<form class="col-5" asp-action="Create" asp-controller="Home" method="post">
    <div class="form-group">
        <span class="validationErrors" asp-validation-for="FirstName"></span><br>
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName">
    </div>
    
    <div class="form-group">
        <span class="validationErrors" asp-validation-for="LastName"></span><br>
        <label asp-for="LastName"></label>
        <input asp-for="LastName">
    </div>

    <div class="form-group">
        <span class="validationErrors" asp-validation-for="Birthday"></span><br>
        <label asp-for="Birthday"></label>
        <input asp-for="Birthday">
    </div>

    <div class="form-group">
        <span class="validationErrors" asp-validation-for="Email"></span><br>
        <label asp-for="Email"></label>
        <input asp-for="Email">
    </div>

    <div class="form-group">
        <span class="validationErrors" asp-validation-for="Password"></span><br>
        <label asp-for="Password"></label>
        <input asp-for="Password">
    </div>
    <input class="btn btn-dark" type="submit" value="Submit">
</form>
