<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio 2</title>
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/projects">Enemies</a>
        <a href="/contact">Contact</a>
    </nav>
    <main>
        <div id="wrapper">
            <h1>About Me</h1>
            <div class = "subBlock">
                <img src="~/img/TSR_Sonic.png" alt="">
                <h3>Sonic Hedgehog</h3>
            </div>
            <div class = "subBlock">
                <p>Donec ac venenatis elit. Duis purus nunc, cursus non dolor eget, vehicula porttitor nulla. 
                    Sed mollis ultricies ante, sit amet pulvinar sapien dictum ac. Aliquam non rhoncus nunc. 
                    Nam suscipit varius velit ultrices mollis. Nulla porta urna in mi porttitor lobortis. 
                    Suspendisse et metus arcu. Cras posuere congue augue in convallis. Suspendisse potenti. 
                    Curabitur sed accumsan nisi. Donec varius est ut eleifend suscipit. 
                    Nunc pharetra tellus est, et molestie nunc tincidunt quis.</p>
            </div>
        </div>

    </main>
</body>
</html>