<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio 2</title>
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/projects">Enemies</a>
        <a href="/contact">Contact</a>
    </nav>
    <main>
        <div id="wrapper">
            <h1>Here are list of my enemies</h1>
            <div class = "project">
                <div class="subProject">
                    <img src="~/img/1.png" alt="">
                    <h4>Enemy 1</h4>
                    <p>some textsome textsome textsome textsome textsome textsome text
                        some textsome textsome textsome textsome textsome textsome text
                        some textsome textsome textsome textsome textsome textsome text
                    </p>
                </div>
                <div class="subProject">
                    <img src="~/img/2.png" alt="">
                    <h4>Enemy 2</h4>
                    <p>some textsome textsome textsome textsome textsome textsome text
                        some textsome textsome textsome textsome textsome textsome text
                        some textsome textsome textsome textsome textsome textsome text
                    </p>
                </div>
                <div class="subProject">
                    <img src="~/img/3.png" alt="">
                    <h4>Enemy 3</h4>
                    <p>some textsome textsome textsome textsome textsome textsome text
                        some textsome textsome textsome textsome textsome textsome text
                        some textsome textsome textsome textsome textsome textsome text
                    </p>
                </div>
            </div>
        </div>
    </main>
</body>
</html>